[Unit]
Description=Nightstand Instant Rollback
After=free-sleep.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/dac/free-sleep/scripts/rollback_pod.sh
User=root
Group=root
KillMode=process
StandardOutput=append:/persistent/free-sleep-data/logs/free-sleep-rollback.log
StandardError=append:/persistent/free-sleep-data/logs/free-sleep-rollback.log
